<%= link_to "締め切りに近い順", tasks_path(deadline_date_sort_type: "asc")%>
<%= link_to "締め切りに遠い順", tasks_path(deadline_date_sort_type: "desc")%>
<h1>一覧</h1>
<hr>
<ul>
  <% @tasks.each do |task| %>
    <li> 
      <% if @tasks%>
        <%= link_to task.name, task, {class: "task"}%>
      <% else %>
        <p>タスクがありません</p>
      <%end%>
    </li>
  <% end %>
</ul>

<div class = "back">
  <%= link_to "作成", new_task_path, {class: "back_button"} %>
</div>
